body {
  background-color: #41af8b;
}
div {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border: 1px solid #991919;
}
#motto {
  color: darkgreen;
}
.favorite {
  font-weight: bold;
}
