body {
  background-color: #41af8b;
}
.page-block {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border: 1px solid #991919;
}
#motto {
  color: darkgreen;
}
#top-menu-bar {
  text-align: center;
  color: #fff;
  background-color: #334455;
}
#top-menu-bar li {
  margin: 0;
  padding: 0;
  display: inline;
}
#top-menu-bar a {
  padding: 5px 15px 10px 15px;
  margin: 2px 0 2px 0;
  text-decoration: none;
  display: inline-block;
  color: hsl(61, 100%, 50%);
}
#top-menu-bar a:visited {
  color: #ffffff;
}
#top-menu-bar a:hover {
  color: #334455;
  background-color: #ffffff;
}
.favorite {
  font-weight: bold;
}
