body {
  background-color: #f5f5f5;
}

/* .test {
  border: 2px solid #000;
  margin: 2px;
  padding: 2px; */
}
#content-wrap {
  /* border: 1px solid blue; */
}
#left-sidebar {
  width: 30%;
  float: left;
  /* border: 1px solid red; */
  margin: 0px;
}
#content {
  /* border: 1px solid green; */
  padding-left: 30%;
}
#content div #my-picture {
  border-radius: 50%;
}
.page-block {
  background-color: white;
  padding: 8px;
  margin: 10px;
  border: 1px solid #991919;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
#motto {
  color: darkgreen;
}
#top-menu-bar {
  text-align: center;
  color: #ffffff;
  background-color: #334455;
}
#top-menu-bar li {
  margin: 0;
  padding: 0;
  display: inline;
}
#top-menu-bar a {
  padding: 5px 10px 10px 15px;
  margin: 2px 0 2px 0;
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
}
#top-menu-bar a:visited {
  color: #ffffff;
}
#top-menu-bar a:hover {
  color: #334455;
  background-color: #ffffff;
}
.favorite {
  font-weight: bold;
}

#footer {
  clear:both;
  
}